@keyframes fadeIn {
    from { opacity:0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity:1; }
    to { opacity: 0; }
}

@-webkit-keyframes fadeIn { /*크롬에서는 웹킷에서 애니메이션이 구동*/
    from { opacity:0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity:1; }
    to { opacity: 0; }
}

.fadeIn{ /*버튼을 클릭했을때 애니메이션 효과 , 버튼을 누르면 스무스하게 넘어감*/
    animation: fadeIn;
    animation-duration: 0.6s; /*이미지가 깜빡 거려서 시간 조정 */
}

.fadeOut{
    animation: fadeOut;
    animation-duration: 0.6s;
}